$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;

$bg-color--main: #f3f3f5;

$font-color-base: #86888f;
$font-color-secondary: #1d1d1d;

$font-family-base: "Poppins", "Verdana", sans-serif;
$font-size-base: 13px;
$line-height-base: 23px;